@keyframes pulseGlow {
    0% {
        opacity: 0.4;
        transform: scale(1);
    }

    50% {
        opacity: 0.7;
        transform: scale(1.08);
    }

    100% {
        opacity: 0.4;
        transform: scale(1);
    }
}

.bg-glow {
    animation: pulseGlow 6s ease-in-out infinite;
}
/* HERO ENTRY */

.hero-text {
    animation: fadeLeft 1s ease forwards;
    opacity: 0;
}

.dashboard-preview {
    animation: fadeRight 1s ease forwards;
    opacity: 0;
}

/* ANIMATIONS */

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}