.market-card {
    transition: all 0.3s ease;
}

.market-card:hover {
    transform: translateY(-6px);
    border-color: rgba(245,184,65,0.25);
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}
.chart-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
}

.chart-header h2 {
    font-size: 2rem;
}

.chart-header span {
    color: var(--muted);
}

.fake-chart {
    position: relative;

    height: 420px;

    border-radius: 32px;

    overflow: hidden;

    border: 1px solid rgba(255,255,255,0.06);

    background:
        linear-gradient(
            180deg,
            rgba(14,22,40,0.96),
            rgba(7,11,22,0.98)
        );
}

.fake-chart::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image:
        linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

    background-size: 60px 60px;
}

.chart-line {
    position: absolute;

    width: 80%;
    height: 4px;

    background: linear-gradient(
        90deg,
        #00d09c,
        #00ffc3
    );

    top: 55%;
    left: 10%;

    transform: rotate(-8deg);

    border-radius: 999px;

    box-shadow:
        0 0 25px rgba(0,208,156,0.45);
}

.chart-glow {
    position: absolute;

    width: 300px;
    height: 300px;

    background:
        radial-gradient(
            circle,
            rgba(0,208,156,0.18),
            transparent 70%
        );

    right: 10%;
    top: 10%;
}