 <!-- RIGHT -->
    <div class="hero-dashboard">

      <div class="dashboard-card gold">
        <div>
          <h3>ORO</h3>
          <p>Momentum alcista</p>
        </div>
        <span>+2.4%</span>
      </div>

      <div class="dashboard-card btc">
        <div>
          <h3>BTC</h3>
          <p>Breakout confirmado</p>
        </div>
        <span>+5.1%</span>
      </div>

      <div class="dashboard-card nasdaq">
        <div>
          <h3>NASDAQ</h3>
          <p>Alta volatilidad</p>
        </div>
        <span>+1.8%</span>
      </div>

    </div>
     <section class="chart-section container">

    <div class="chart-header">
        <h2>Market Structure</h2>
        <span>BTC/USD • 4H</span>
    </div>

    <div class="fake-chart">

       <div class="chart-box">
    <div id="tradingview-chart"></div>
</div>